/* Universal Selector. Affects all items */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Changes background color of the body element */
body {
    background-color: #d9dcd6;
}

/* Describes links. In this case, the link is white with no text
decoration */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Defines the h3 attributes. Was originally marked under the benefits classes,
but seeing as they are the only h3s, you can broadly define them */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Defines the font size for all paragraph elements */
p {
    font-size: 16px;
}

/* This defines the font, color, padding and background color of the
entire header */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Makes the h1 of the header have a font-size of 48px as well as makes it
inline-block which menas it automatically wraps text and allows height and 
width adjustment */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Changes the color of the 'seo' in the logo */
.header h1 .seo {
    color: #d9dcd6;
}

/* Using the more specified div that was changed to an ID of nav,
changes the attributes of the nav bar */
#nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Removes bullet points that would ordinarilly appear on unordered
lists */
.header div ul {
    list-style-type: none;
}

/* Specifies the positioning of the nav bar */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Sets the attributes for the large header picture under nav bar */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Determines behavior of section labeled content such as the width 
and the display */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Class that pushes content left and adds margin space to the right*/
.float-left {
    float: left;
    margin-right: 25px;
}
/* Class that pushes content to the right and adds margin space to 
the left */
.float-right {
    float: right;
    margin-left: 25px;
}

/*Sets the font, background, color and behavior of the boxes for
this element */
#services {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Sets the font size and position of these specific h2s */
#services h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


/* Sets the max height for all classes labeled services image */
#services-image {
    max-height: 200px;
}

/* Class shown on the right sidebar of site. These set the font, size,
positioning and color according to the box model */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Defines the margin and color of the benefit classes. Since they
are getting the same attributes, they can be defined together */
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}


/* Sets attributes for the benefit imgs. Since they all have the same 
attributes, they can be brought together with a class */
.benefit-image {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* This class determines the footer. In this case, it sets the font, 
the alignment and the space around the footer. Also makes it clear. */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Child of footer class, sets the font size for the h2 */
.footer h2 {
    font-size: 20px;
}

